HTML, BODY{
    text-align:center;
    font-family: Verdana;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.cont{

    align-content: center;
    padding-top:25px;
    position: relative;
    top:15px;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    height:auto;

    background:#E8E8E8  ;
}

.input {
    color: red;
    font-size: 10px;
    text-align: left;
    width: 300px;
    font-family: Verdana;
}

.name {
    font-family: Verdana;
    font-size: 12px;
    width: 100px;
}